header {
  height: 100px;
  background-color: black;
}

header ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  margin: 1rem;
}

header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: chartreuse;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.7s;
}

header ul li:hover a {
  color: deeppink;
  transition: 0.7s;
}

.comix_index .container {
  padding: 5rem 0;
  width: 85%;
  margin: 0 auto;
}

.comix_index .container ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comix_index .container ul .card_container {
  margin-bottom: 8.5rem;
  z-index: 0;
}

.comix_index .container ul .card_container .buttons {
  display: flex;
  justify-content: space-between;
}

.comix_index .container ul .card_container .buttons a,
.comix_index .container ul .card_container .buttons button {
  border: none;
  background-color: green;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 2.2rem;
  background-color: black;
  outline: 4px solid black;
  color: white;
  border: 4px solid black;
  transition: 0.7s;
}

.comix_index .container ul .card_container .buttons a {
  background-color: black;
  outline: 4px solid black;
}

.comix_index .container ul .card_container .buttons a:hover {
  border: 4px solid chartreuse;
  transition: 0.7s;
}

.comix_index .container ul .card_container .buttons button:hover {
  border: 4px solid deeppink;
  transition: 0.7s;
}

.comix_index .container ul .card_container a {
  color: black;
  text-decoration: none;
}

.comix_index .container ul .card_container a .card {
  width: 300px;
  list-style: none;
  margin: 0.5rem;
  position: relative;
}

.comix_index .container ul .card_container a .card__thumb {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 50% 50% 0 0;
  transition: 0.5s;
  box-shadow: 0.7rem 1rem 5rem 1.2rem;
}

.comix_index .container ul .card_container a .card__thumb img {
  width: 100%;
}

.comix_index .container ul .card_container a .card__text {
  width: 100%;
  height: 300px;
  overflow: scroll;
  border-radius: 0 0 50% 50%;
  padding: 0 0.5rem 3rem;
  background-color: deeppink;
  transition: 0.5s;
  box-shadow: 0.7rem 1rem 5rem 1.2rem;
}

.comix_index .container ul .card_container a .card__text h2 {
  color: white;
  text-transform: uppercase;
  margin: 1rem 0;
  margin-top: 4rem;
}

.comix_index .container ul .card_container a .card:hover .card__thumb {
  height: 400px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  border: 5px solid chartreuse;
  border-bottom: none;
  transition: 0.5s;
}

.comix_index .container ul .card_container a .card:hover .card__text {
  position: absolute;
  top: 400px;
  border-radius: 0 0 20px 20px;
  border: 5px solid chartreuse;
  border-top: none;
  transition: 0.5s;
}

.comics_show {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  height: calc(100vh - 200px);
  overflow: hidden;
  position: relative;
}

.comics_show .thumb {
  color: black;
}

.comics_show .thumb img {
  width: 34vw;
  height: 34vw;
  border-radius: 50%;
  position: absolute;
  bottom: -17vw;
  left: 50%;
  transform: translate(-17vw);
  box-shadow: 0 0 4rem 0.5rem;
}

.comics_show .text {
  height: calc(100vh - 34vw - 200px);
}

.comics_show .text h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

.comics_create {
  width: 100%;
}

.comics_create h2 {
  font-size: 2rem;
  padding-top: 3rem;
  transform: rotate(5deg);
}

.comics_create .container {
  width: 60%;
  margin: auto;
}

.comics_create .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comics_create .container form label {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 3rem;
}

.comics_create .container form input,
.comics_create .container form textarea {
  width: 100%;
  background-color: deeppink;
  border: 2px solid white;
  border-radius: 20px;
}

.comics_create .container form input {
  height: 40px;
}

.comics_create .container form textarea {
  height: 100px;
}

.comics_create .container form button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  margin: 3rem 0 6rem;
  background-color: black;
  color: chartreuse;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  transform: rotate(-12deg);
  transition: 0.7s;
}

.comics_create .container form button:hover {
  color: deeppink;
  transition: 0.7s;
  transform: rotate(372deg);
}

footer {
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  color: white;
  background-color: black;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: deeppink;
  text-align: center;
}

main h1 {
  font-size: 7rem;
  transform: rotate(-7deg);
  letter-spacing: 2rem;
  padding: 10rem 0;
  line-height: 40vh;
}

